html::-webkit-scrollbar{
    width: 0px; /* Oculta la barra de desplazamiento horizontal */
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.contenedorTodo{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.middle-text{
    text-align: center;
}
.middle-text h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgba(45, 139, 45, 0.795)
}
.ratings{
    cursor: pointer;
}
section{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-top: 5rem;
    padding: 0 2rem;
}
.review-content{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, auto)); */
    justify-content: center;
    gap: 20px;
    /* margin-top: -4rem; */
}
.box{
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.849);
    /* left: 100px; */
    position: relative;
    top: 100px;
    padding: 35px;
    background-color: whitesmoke;
    border-radius: 3rem;
    width: 300px;
    margin-right: 30px;
}
.box p{
    line-height: 30px;
    margin: 1.5rem;
}
.in-box{
    display: flex;
    align-items: center;
}
.comentaarios{
    position: relative;
    top: 120px;
    text-align: center;
    justify-content: center;
}
.input{
    width: 100%;
    outline: none;
    border: 2px solid #2b2828;
    background: none ;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
    width: 500px;
    margin-left: 7.5%;
    color: black;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.849);
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10%;

}
textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
.ratings a{
    text-decoration: none;
    color: black;
}
.ratings i{
    color: gray;
    transition: color 0.3s ease;
}
.btn{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #1c1d1c81;
    font-size: 0.95rem;
    color: #2c6459;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    /* margin-left: 7.5%; */
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn:hover{
    transform: scale(1.1);
    background-color: #35b124c5;
    color: #000000c5;
}
img{
    height: 100px;
    width: 100px;
    margin-right: 5px;
}
@media (max-width: 908px){
    .contenedorTodo{
        height: auto;
        
    }
}

@media (max-width: 823px){
    .contenedorTodo{
        font-size: 10px;
    }
}